<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="input(type, label, field)" class="form-row">
    <label th:text="${label}">Firstname: </label>
    <input th:attr="type=${type}"
           th:value="*{__${field}__}" th:field="*{__${field}__}"
           th:class="${'form-control' + (#fields.hasErrors(field) ?' is-invalid':'')}"/>
    <div class="invalid-feedback"
         th:if="${#fields.hasErrors(field)}"
         th:errors="*{__${field}__}"></div>
</div>
</body>
</html>